In [8]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('./resources/test-pass_calories.csv')
df.head()

         date  calories_burned
0  2023-02-01           3611.0
1  2023-02-02           3673.0
2  2023-02-03           3179.0
3  2023-02-04           2238.0
4  2023-02-05           2603.0

In [19]:
df['date'].tolist()

['2023-02-01',
 '2023-02-02',
 '2023-02-03',
 '2023-02-04',
 '2023-02-05',
 '2023-02-06',
 '2023-02-07',
 '2023-02-08',
 '2023-02-09',
 '2023-02-10',
 '2023-02-11',
 '2023-02-12',
 '2023-02-13',
 '2023-02-14',
 '2023-02-15',
 '2023-02-16',
 '2023-02-17',
 '2023-02-18',
 '2023-02-19',
 '2023-02-20',
 '2023-02-21',
 '2023-02-22',
 '2023-02-23',
 '2023-02-24',
 '2023-02-25',
 '2023-02-26',
 '2023-02-27',
 '2023-02-28']

2023-02-01
2023-02-28

1675238400.0
1677571200.0